<hr>

<div class="container mt-5">
    <div class="row">
            <div class="col-12 group-table">
                <app-groups-table ></app-groups-table>
            </div>     
    </div>
    <div class="row mt-5">
        <div class="col-md-6 d-flex justify-content-center">
            <app-universidades-pie-chart></app-universidades-pie-chart>
        </div>
        <div class="col-md-6 d-flex justify-content-center">  
            <app-personas-chart></app-personas-chart>
        </div>
    </div>
</div>
